# Eclipse
.classpath
.project
.factorypath
.settings/
.metadata/

# VS Code
.vscode/

# Build
target/

# Maven wrapper / local setup
maven/
*.zip

# Logs & temp
*.log
app_log.txt

# OS files
.DS_Store
Thumbs.db

# Uploads (if runtime generated)
uploads/

# Environment secrets
.env
application-local.properties